<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/tzlogger.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="tzlogger" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>
